<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    {{ css('assets/semantic-ui/semantic.min.css') }}
    {{ css('assets/build/css/kiddeepass.min.css') }}
    <title>{{ title }}</title>
  </head>
  <body>
    @include('components.nav')

    @!section('content')

    <!-- JavaScript -->
    {{ script('assets/build/js/jquery-3.3.1.slim.min.js') }}
    {{ script('assets/semantic-ui/semantic.min.js') }}
    {{ script('assets/build/js/kiddeepass.min.js') }}
  </body>
</html>