@layout('layout/main')

@section('content')
  <div class="ui centered medium images">
    <img src="{{ assetsUrl('https://storage.googleapis.com/oceanic-hold-176205.appspot.com//activity/activity_thumbnail_1.jpg') }}">
    <img src="{{ assetsUrl('https://storage.googleapis.com/oceanic-hold-176205.appspot.com//activity/activity_thumbnail_4.jpg') }}">
    <img src="{{ assetsUrl('https://storage.googleapis.com/oceanic-hold-176205.appspot.com//activity/activity_thumbnail_5.jpg') }}">
    <img src="{{ assetsUrl('https://storage.googleapis.com/oceanic-hold-176205.appspot.com//activity/activity_thumbnail_48.jpg') }}">
    <img src="{{ assetsUrl('https://storage.googleapis.com/oceanic-hold-176205.appspot.com//activity/activity_thumbnail_60.jpg') }}">
  </div>
@endsection